<!DOCTYPE html>
<html>
	<head>
		<meta charset="urf-8"/>
		<link rel="stylesheet" href="/css/style.css"/>
		<title>Status</title>
	</head>
	<body>
		<table>
			<tr>
				<th>Numéro de la place</th>
				<th>Status</th>
				<th>Temps</th>
				<th>Recharge</th>
				<th>Prix</th>
				<th>Utilisateur</th>
			</tr>
			<tr>
			     <% var i = 0; %>
                 <% result.forEach(function(index) {  %>
	        	  <td><%= index.number %></td>
	        	  <td><%= index.status %></td>
	        	  <td><%= index.use_time %></td>
	        	  <td><%= index.reload %> kW</td>
	        	  <td><%= index.bill %>€</td>
	        	  <td><%= index.name + " " + index.firstName %></td>
            </tr><% i++ }) %>
		</table>
	</body>
</html>
