<table>
	<tr>
		<td>Numéro de la place</td>
		<td>Occuper / Non occuper</td>
	</tr>
	<tr>
	        <td><%= num[0] %></td>
	        <td><%= occuper %></td>
	</tr>
	<tr>
	        <td><%= num[1] %></td>
	        <td><%= occuper %></td>
	</tr>
	<tr>
	        <td><%= num[2] %></td>
	        <td><%= occuper %></td>
	</tr>
	<tr>
	        <td><%= num[3] %></td>
	        <td><%= occuper %></td>
	</tr>
	<tr>
		<td><%= num[4] %></td>
		<td><%= occuper %></td>
	</tr>
	<tr>
		<td><%= num[5] %></td>
		<td><%= occuper %></td>
	</tr>
	<tr>
		<td><%= num[6] %></td>
		<td><%= occuper %></td>
	</tr>
	<tr>
		<td><% num[7] %></td>
		<td><% occuper %></td>
	</tr>
</table>
